.env
__pychache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pid
*.swp
*.bak
*.tmp
*.DS_Store
/best_v1_ncnn_model
/detections
/food_waste_ncnn_model
best_v1_ncnn_model
detections
food_waste_ncnn_model
/deep_sort